
div.icon-menu {
  color: #000000;
  font-size: 28px;
  position: absolute;
  float: right;
  margin: 1.85%;
  
}
nav ul li a {
  color: #777777;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  margin-right: 25px;
  display: none;
}
nav ul li {
  list-style-type: none;
}
